
.MasterDiv {
    margin-top: 20px;
    margin: auto;
    /*background-image: url('../../Graphics/medlembaggrund.png');*/
}
	.LogoffLinkDiv
	{
		vertical-align: baseline; 
		width: 200px;
        height: 20px; text-align: right; 
        border-top-width: thin; 
        border-left-width: thin; 
        border-left-color: gainsboro; 
        border-bottom-width: thin; 
        border-bottom-color: gainsboro; 
        border-top-color: gainsboro;
        border-right-width: thin; 
        border-right-color: gainsboro;
        border-style:none;
        float:right;
		margin-top:9px;		
    }
  
    .LogoffLinkDiv a
	{
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
    }
      .LogoffLinkDiv a:link {
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
	}
	.LoginLinksDiv
	{
		vertical-align: baseline; 
		width: 100%;
        height: 25px; text-align: right; 
        border-top-width: thin; 
        border-left-width: thin; 
        border-left-color: gainsboro; 
        border-bottom-width: thin; 
        border-bottom-color: gainsboro; 
        border-top-color: gainsboro;
        border-right-width: thin; 
        border-right-color: gainsboro;
        border-style:none;
        float:left;
		margin-top:5px;	
	    overflow-y:hidden; 
	    overflow-x:hidden;			
    }
  
    .LoginLinksDiv a
	{
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
    }
    
    .LoginLinksDiv a:link {
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
	}		
    .GlemtKodeOrdDiv
	{
		vertical-align: baseline; 
		width: 100%;
        height: 20px; 
        border-top-width: thin; 
        border-left-width: thin; 
        border-left-color: gainsboro; 
        border-bottom-width: thin; 
        border-bottom-color: gainsboro; 
        border-top-color: gainsboro;
        border-right-width: thin; 
        border-right-color: gainsboro;
        border-style:none;        
        float:right;
		margin-top:0px;
	    margin-bottom: 20px;
        text-align: right;		
    }
     .BannerImageDiv
	{
	    /* display none for at gemme banner*/
	    display: none;
		height:80px;		
	    background:url('');
	    border-style:hidden;	   
	    width:100%;
	    border-bottom-style:solid;	  
		border-bottom-width:0px;
	}	
  
  .BannerDiv
	{
		padding-top: 5px;
		padding-bottom: 25px;
		/* display none for at gemme banner*/
		display: none;
		height:60px;
		width: Auto;
		border-style:none;	
		text-align:right;
	}	
    .GlemtKodeOrdDiv a
	{
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
		text-align: right;
    }
    .GlemtKodeOrdDiv a:link {
		overflow:auto; 
		resize: none; 
		font-family:PT Serif, serif;
		Font-Size:11px; 
		outline: 0;
		font-weight:bold;
		color:#68716a;
		text-align: right;
	}
	.LanguageDiv
	{
		height:23px;
		width: Auto;
		border-style:none;	
		text-align:left;
		margin-top: 5px;
		display: block;
	}
	
	.textDK
	{
	    text-decoration: none;
        font-family:PT Serif, serif;
	    color: #68716a;
	}
	.textUK
	{
	    text-decoration: none;
        font-family:PT Serif, serif;
        color: #68716a;
	}
	.FooterDivStandard 
	{
		width:auto;
		border-bottom-style:solid;
		border-bottom-width:3px;
		border-bottom-color:#68716a;
		border-top-style:solid;
		border-top-color:#68716a;
		border-top-width:0.25px;
		height:22px;	
		padding-top:10px;		
		margin-top:40px;
		text-align:left;
		position:relative;
		clear:both;
		/*display none for at gemme standard footer*/
	    display: block;
	}
	.spanFooter
	{
		padding-left:0px;
		padding-right:0px;
		text-align:left;
		font-weight:bold;
		font-family:PT Serif, serif;
		Font-Size:12px;
		color:#415854;
		border-style:none;
		border-width:0px;
		
	}
	.spanFooter2
	{
		padding-left:0px;
		text-align:left;
		font-family:PT Serif, serif;
		Font-Size:12px;
		color:#415854;
		border-style:none;
		border-width:0px;
		
		
	}

	.InfoDiv
	{
		margin-top:0px;
		text-align:left;
		width:900px;
		font-family: Tahoma;
		margin-right: 9px; 
		margin-bottom:20px;
	}
	.FooterDivSpalter 
	{
		width:100%;
		border-bottom-style:solid;
		border-bottom-width:3px;
		border-bottom-color:#68716a;
		border-top-style:solid;
		border-top-color:#68716a;
		border-top-width:0.25px;
		height:70px;	
		padding-top:10px;		
		margin-top:40px;
		text-align:left;
		position:relative;
		clear:both;
	    background-color: #68716a;
	    /*display none for at gemme spalter footer*/
	    display: none;
	}
	.FooterSpalter {
	    width:23%; 
	    float: left;
	    display: inline-block;
	    padding-left: 10px; 
	    color: white; 
	    font:14px PT Serif, serif;
	    font-weight: normal
	}
	.FooterSpalterSpan {
	    font:16px PT Serif, serif; 
	    font-weight: bold
	}
	
	.FooterSpalterHide1 {
	    display: block;   
	}
	.FooterSpalterHide2 {
	    display: block;   
	}
	.FooterSpalterHide3 {
	    display: block;   
	}
	.FooterSpalterHide4 {
	    display: block;   
	}
	.MenuDiv a:visited {
		color: White;
		font-weight:bold;
		font-family:PT Serif, serif;
		font-size:21px;
		text-decoration: none;
		text-align:left;
	}
	.MenuDiv a:link {
		color: White;
		font-weight:bold;
		font-family:PT Serif, serif;
		font-size:21px;
		text-decoration: none;
		text-align:left;
	}	
	
	.MenuDiv a {
		color: White;
		font-weight:bold;
		font-family:PT Serif, serif;
		font-size:21px;
		text-decoration: none;
		text-align:left;
	}	
	
	 
	.ContentDiv{	
		border:0px;
		text-align:left;
		vertical-align:top;	
		padding-top:0px;
		height:100%;
		width: 100%;
	}
	
	.LogoDiv
	{

		height:100px;		
	    background:url('../../assets/images/demo/koda3.png') no-repeat;	   
	    border-style:hidden;	   
	    width:100%;
	    border-bottom-style:solid;	  
		border-bottom-width:1px;
		border-bottom-color:ThreeDShadow;
	}

    .LogoDivEN
	{
		height:100px;		
	    background:url('../../assets/images/demo/koda3.png') no-repeat;	   
	    border-style:hidden;	   
	    width:100%;
	    border-bottom-style:solid;	  
		border-bottom-width:1px;
		border-bottom-color:ThreeDShadow;
	}

    @import url("https://fonts.googleapis.com/css?family=PT+Serif");

    /* General*/  
    
    html {
        overflow: -moz-scrollbars-vertical;
        overflow-y: auto;
        overflow-x: auto;
        margin: 0 auto !important;
        text-align: center!important;
    }
    
    
    body {
        font-family: PT Serif, serif;
        font-size: 13px;
        color: #4f4f4f;
        /*Skal ændres i forhold til menuen*/
        width:1120px;
        /**/	
    
        height:100%;	
        margin: 0 auto !important;
        text-align: center!important;
        /*background-color: #d5d5d5;*/
    }
    table{
        border-color:Red;
        border-style:none;
        border-width:0px;
        width:100%;
        text-align:left;
        vertical-align:top!important;	
    }
    
    td {
        vertical-align: top!important;
    }
    
    panel{
        border-style:inset;
        border-width:0px;
        border-color:Gray;	
    }
    .aligntop {
        vertical-align: top;
    }
    
    ::-ms-expand {
       width:30px;
       background-color:#D3D3D3 !important;
       color:#878787;   
    }
    
    select
    {
       
    }
    
    /*
    ::-ms-clear {
        display: none;
    }
    
    select::-ms-expand {
        display: none;  
    }
    
    select
    {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';   
        border: none;
        background: transparent;
        background:url(../../Graphics/dd.png) no-repeat right;	
    }
    */
    a:hover {
        
    }
    .radiobuttonlist 
    {
        font-family:PT Serif, serif;
        Font-Size:19px;
        color: #415854;
    }
    .balloon  
    {
        width: 40%;
        display:none; 
        position:absolute; 
        margin-top: -5px;
        margin-left: 5px;
    }
    .balloonAccount  
    {
        width: 40%;
        display:none; 
        position:absolute; 
        margin-top: 52px;
        margin-left: 77px;
    }
    .balloonmiddle {
        width: 40%;
        /*background-image: url(../../Graphics/balloonmiddle.gif);*/
        background-color: #D3D3D3;
        opacity: 1;
        filter:alpha(opacity=75);
        border-style: solid;
        border-width: 0px;
        border-color: White;
        background-repeat: repeat-y;
        font-family: PT Serif, serif;
        font-size: 10px;
        font-style: normal;
        padding-left:10px;
        padding-right:10px;
        padding-top:5px;
        padding-bottom:5px;
        height:auto;
    }
    .balloonmiddleHelpIcon {
        width: 40%;
        /*background-image: url(../../Graphics/balloonmiddle.gif);*/
        /*background-color:#8BA84D;*/
        background-repeat: repeat-y;
        font-family: PT Serif, serif;
        font-size: 10px;
        font-style: normal;	
        text-align:center;
        padding-left:10px;
        padding-right:10px;
        height:auto;
    }
    .balloontop {
        width: 40%;
        /*background-image: url(../../Graphics/balloontop.gif);*/
        height: Auto;
        background-repeat: no-repeat;
    }
    .balloonbottom {
        width: 40%;
        /*background-image: url(../../Graphics/balloonbottom.gif);*/
        height: auto;
        background-repeat: no-repeat;
    }
    .HelpImage
    {
        margin-top:10px;
        margin-bottom:0px;
        /*background-image: url(../../Graphics/Helpicon.png)!important;*/
        
    }
    
    .HelpImageTooltip
    {
        margin-top:5px;
        margin-bottom:0px;
        width:30px;
        height:30px;
    }
    .ButtonsDiv
    {	
       text-align:left;	 
       width:700px; 
       vertical-align:top; 
       padding-top:0px;
       padding-bottom:20px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .ButtonsDiv input[type="submit"]
    {
       margin-bottom:5px;
    }
    .ExtraCode
    {
        width: 406px; 
        height: 90px;
    }
    .ButtonsDivGridBefore
    {	
       text-align:left;	 
       width:700px; 
       vertical-align:top; 
       padding-top:20px;
       padding-bottom:5px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .ButtonsDivGrid
    {	
       text-align:left;	 
       width:700px; 
       vertical-align:top; 
       padding-top:20px;
       padding-bottom:20px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .ButtonsDivGridNew
    {	
       text-align:Right;	 
       width:470px; 
       vertical-align:top; 
       padding-top:0px;
       padding-bottom:20px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .ButtonsDivGridNewBudget
    {	
       text-align:Right;	 
       width:470px; 
       vertical-align:top; 
       padding-top:0px;
       padding-bottom:5px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .ButtonsDivGridNewBA
    {	
       text-align:Right;	 
       width:470px; 
       vertical-align:top; 
       padding-top:12px;
       padding-bottom:20px; 
       padding-left:0px;
       margin-left:0px; 
    }
    .FormFeltDiv
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:13px;
    }
    .FormFeltDivStartLogon
    {		
        height:auto;
        text-align:right;
        width:480px;
        padding-bottom:13px;
        
    }
    .FormFeltDivHidden
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:13px;
        display: none;
    }
    .FormFeltDivFormaelStatus
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:13px;
        display:none;
    }
    
    .FormFeltDivSpecial
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:0px;
    }
    .FormFeltDivHeader
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:0px;
    }
    .FormFeltDivProjectDescription
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:0px;
    }
    .FormFeltBulletLogonDiv
    {		
        height:120px;
        text-align:left;
        width:400px;
        padding-bottom:13px;
    }
    .FormFeltNewUserButton
    {		
        height:auto;
        text-align:right;
        width:470px;
        padding-bottom:13px;
    }
    
    .FormFeltDivSpecial
    {		
        height:auto;
        text-align:left;
        width:600px;
        padding-bottom:5px;
    }
    
    .FormFeltDivExtraCode
    {		
        height:auto;
        text-align:Left;
        width:200px;
        border-width:0px;
        border-style:solid;
        padding: 0px 150px 10px 100px;
    }
    .FormFeltDivRight
    {	
        margin-top:5px;
        height:auto;
        text-align:Right;
        width:466px;
    }
    
    .FormFeltDivDate
    {	
        margin-top:5px;
        height:auto;
        text-align:left;
        vertical-align:middle;
        width:600px;
    }
    
    .JpegImageDiv
    {	
        padding-bottom:5px;
        text-align:left;
        display:block;
    }
    
    .FileUploadDiv
    {	
        width:470px;
        padding-bottom:12px;
    }
    .FileUploadDivRight
    {	
        width:466px;
        text-align:right;
    }
    .FileUploadDiv input
    {	
        width:470px;
        display:table-cell;
        height:26px;
    }
    
    .ContainerDiv
    {	
        border:0px;
        text-align:left;
        margin-top:25px;
        height:auto;
    }
    
    /* welcome.aspx and Brugerlogon.aspx */
    .ContentDivStart
    {	
        border:0px;
        text-align:left;
        vertical-align:top;	
        padding-top:0px;
        height:100%;
        min-height:400px;
        width: 100%;
    }
    .ButtonsDivStart
    {	
       text-align:left;	 
       width:500px; 
       vertical-align:top; 
       padding-top:5px;
       padding-bottom:100px; 
       padding-left:0px;
       margin-left:0px; 
       float:left;
    }
    .FormFeltDivStart
    {	
        margin-top:5px;
        height:40px;
        text-align:left;
        width:400px;
    }
    .FormFeltDivStartCodeText
    {
        height:auto;
        text-align:left;
        width:400px;
        padding-bottom:13px;
    }
    .FormFeltDivStartCode
    {
        padding-bottom:0px;
        text-align:left;
        width:400px;
    }
    .FormFeltDivStartIns
    {
        vertical-align:top;
        text-align:left;
        width:400px;
    }
    .FormFeltDivStartEmail
    {	
        padding-bottom:8px;
        text-align:left;
        width:400px;
    }
    .ArrowDivStart
    {	
        /*
        visibility:hidden;
        display:none;
        */
    }
    .ArrowTDStart
    {
        /*
        visibility:hidden;
        display:none;
        */
    }
    .spanCounter 
    {
      color: #415854; 
      overflow: auto; 
      font-family: PT Serif, serif; 
      font-size: 12px; 
      font-weight: bold; 
      display: inline-block;
     
    }
    .DescriptionTableStart
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        margin-top: 0px;
        width:450px;
    }
    .DescriptionTableStart td, .DescriptionTableStart th
    {	
       padding:0px;
    }
    .DescriptionDivLeftStart
    {	
        border:0px;
        text-align:Left;
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        float:left; /*none for normal */
        padding-top:0px;
        width:466px;
        font-size:12px;
        font-family:PT Serif, serif;
        margin-bottom: 20px;
    }
    .DescriptionDivStart
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        float:Right; /*none for normal */
        margin-top:5px;
        width:450px; 
    }
    /* End welcome.aspx and Brugerlogon.aspx */
    
    /* All other pages */
    .DescriptionDiv
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        vertical-align:top;
        float:right; /*none for normal */
        margin-top:5px;	
        width:450px; 
        margin-bottom:30px;
    }
    .LogonDivRight
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        height:auto;
        float:right; /*none for normal */
        width:388px; 
        margin-right:20px;
        margin-bottom:0px;
        margin-top:0px;
    }
    .iframe {
        padding-left: 0px !important;
        border: 0;
        
    }
    .nemidIframe {
        border: 0;
        width: 420px;
        height: 450px;
    }
    .LogonDivRightNemid 
    {
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        height:auto;
        float:right; /*none for normal */
        width:400px; 
        margin-right:20px;
        margin-bottom:0px;
        margin-top:0px;
        
    }
    .LogonDivRightContainer
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        height:auto;
        float:right; /*none for normal */
        width:388px; 
        margin-right:0px;
        margin-bottom:0px;
        margin-top:0px;
    }
    .LogonButtonsDivRight
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        height:auto;
        float:right; /*none for normal */
        width:388px; 
        margin-right:20px;
        margin-bottom:10px;
        }
    .DescriptionDivLeft
    {	
        border:0px;
        text-align:Left;
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        float:left; /*none for normal */
        padding-top:0px;
        width:466px;
        font-size:12px;
        font-family:PT Serif, serif;
    }
    .DescriptionDivSecond
    {	
        border:0px;
        text-align:left;	
        font-size:12px;
        font-family:PT Serif, serif;
        font-weight:bold;
        border-spacing: 0; 	 
        border-collapse: separate; 
        vertical-align:top;
        float:none; /*none for normal */
        padding-top:5px;
        width:450px; 
        padding-left:0px;
        padding-bottom:5px;
    }
    .DescriptionTable
    {	
        border:0px;
        text-align:left;	
        border-spacing: 0; 	 
        border-collapse: separate; 
        width:450px;
        /*margin-top:100px;*/
    }
    
    .DescriptionTable td, .DescriptionTable th
    {	
       padding:0px;   
    }
    
    .HelpDiv
    {
        background-color: #00a5dc; 
        text-align:center;
        vertical-align:middle;
        /* Display none */
        display:block;
        min-height: 31px!important;
        /*Slut display none */
        padding-bottom: 8px;
        padding-top: 8px;
    }
    
    .InfoDivHeader {
        font-family:PT Serif, serif;
        color: #fff;
        border: 0px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        background-color: transparent;    
    }
    
    
    .DescriptionArrowTD
    {	
        vertical-align:top;
        
    }
    .cssDescriptiontable
        {	
            color:#00222f;
            font-family:PT Serif, serif;
            Font-Size:12px;
            float:left;	
            border:none;
            background-color:Transparent;	
            border-spacing:10px;
            position: static; 		
            display: table;
            table-layout: fixed;    
            width: 100%;
            height: 150px;
            overflow: hidden;
            box-shadow: 4px 4px 2px 2px rgba(50, 50, 50, 0.75);
    
        }	
    .cssDescriptiontableStart
    {	
        color:#878787;
        font-family:PT Serif, serif;
        Font-Size:12px;
        float:left;	
        border:none;
        background-color:transparent;	
        width:410px;
        height:auto;
        min-height:150px;
        padding-left:15px !important;
        padding-right:15px !important;
        padding-bottom:15px !important;
        /* Display none */
        padding-Top:10px !important;
        /*Slut display none */
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
    .cssDescriptiontableTRSeperator
    {	
        height:15px !important;
    }
    
    
    /* End All other pages */
    
    /* Master menu */
    
    .MenuItemDiv
    {
       border-bottom-style:solid;
       border-bottom-color:#D3D3D3;
       border-bottom-width:0px;
       height:36px;   
       margin-top:8px;
    }
    
    .MenuItemSpan
    {
        font-weight:normal!important;
        color: White;
        text-transform: uppercase;
        transition: all 0.6s ease 0s;
          /* Her kan menu ændres*/
        margin-left:9.5px;
        margin-right:10px;
        font-size: 20px;
        /**/
    }
    
    .MenuItemDivDone {
        border-bottom-style: solid;
        border-bottom-color: #D3D3D3;
        border-bottom-width: 5px;
        border-bottom-width: 5px;
        /* Her kan menu ændres*/
        height: 40px;
        margin-top: 17px;
        /**/
    }
    
    .MenuDiv {
        vertical-align: top;
        text-align: center;
        background-color: #00a5dc;
        border-style: none;
        width: Auto;
        height: 67px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
    .MasterMenu
    {
        width:auto;
        font-family: PT Serif, serif;
        padding-right:0px !important;
        padding-Left:0px !important;	
        height: 66px;
        border-spacing:0px;
    }
    
    .MasterMenu td
    {
        font-family: PT Serif, serif;
        background-color:#00a5dc;
        text-align:center; 
        vertical-align: middle!important;
    
    }
    
    .MasterMenuSSS
    {
         /* Her kan menu ændres*/
        background-color: transparent;
        /*margin-bottom: 1px;*/
        /**/
    }
        .MasterMenuSSS span {
            color: #D3D3D3
        }
    .MasterMenuSSS tbody td
    {
        background-color: transparent;
        /* Her kan menu ændres*/ 
        height:62px;
        vertical-align: middle!important;
        /**/
    }
    .MasterMenu td:first-child
    {
        padding-left:0px !important;
        width:auto;
    }
    
    .MasterMenu td:last-child
    {
        padding-right:0px !important;
        width:auto;
    }
    .MasterMenuSMIS img{
        visibility:hidden;
        display:none;
        width:0px;
        padding-left:0px;
    }
    .MasterMenuDMIS img{
        visibility:hidden;
        display:none;
        width:0px;
        padding-left:0px;
    }
    
    .MasterMenuSMIS
    {
    }
    
    .MasterMenuSMIS td
    {
    }
    .MasterMenuDMS{
    }
    
    .MasterMenuDSS{
    }
    
    .MasterMenuDMIS{
    }
    
    
    .MasterMenuDHS{
    }
    
    .MasterMenuSHS{	
    }
    
    /* End Master menu */
    
    /* Grid */
    
    .GridDiv
    {
        padding-bottom:0px;
        width:auto;
        max-width:600px;
        min-width:466px;
        overflow:auto; resize: none; font-family:PT Serif, serif;Font-Size:12px;
    }
    
    .GridDivBA
    {	width:auto;
        max-width:600px;
        min-width:466px;
        overflow:auto; resize: none; font-family:PT Serif, serif;Font-Size:12px;
        padding-bottom:0px;
    }
    .GridDivBA th {
    text-align: left;
    }
    
    .GridDiv th {
    text-align: left;
    }
    
    .GridView
    {
        Font-Size:12px;
         max-width:470px;
        min-width:470px;
        font-family:PT Serif, serif;
    }
    .GridViewBA
    {
        Font-Size:12px;
        font-family:PT Serif, serif;
        background-color:#C2CDC5;
    }
    .GridView tr:last-child
    {
        border-left:solid 5px #D3D5D2;
        border-right:solid 12px #D3D5D2;
    }
    .GridViewBA tr:last-child
    {
        border-left:solid 5px #D3D5D2;
        border-right:solid 12px #D3D5D2;
    }
    .GridViewSelectStyle
    {
        border:none;
        border-width:0px;
    
        background-repeat:repeat;
        background-color:#68726A;
    }
    
    .GridViewHeader
    {
        background-color:#68726A;
        Font-Size:13px;
        font-family:PT Serif, serif;
        color:White;
        height:35px;
        font-weight:bold;   
        text-align:left;
    }
    .GridViewHeader th
    {
        border-left: solid 5px #68726A;	
        border-right: solid 12px #68726A;	
        width:auto;
        text-align:left;
    }
    .GridViewRow
    {
        
    }
    .GridViewRow td
    {
        border: solid 5px #68726A;		
    }
    .GridViewRow td:first-child
    {
        background-color:#68726A;	
        border-right-width:0px;	
    }
    
    .GridViewRow td:last-child
    {
        border-right-width: 12px;	
    }
    
    .GridViewAlternatingRow td:last-child
    {
        border-right-width: 12px;	
    }
    .GridViewAlternatingRow td:first-child
    {
        background-color:#68726A;	
        border-right-width:0px;	
    }
    .GridViewAlternatingRow
    {
    
    }
    .GridViewAlternatingRow td
    {
        border: solid 5px #68726A;	
    }
    
    .GridViewEditRow
    {
    }
    .GridViewSelectedRow
    {
          
    }
    .GridViewSelectedRow td
    {
        border: solid 5px #68726A;	
        background-color:#D3D5D2;  
        
    }
    .GridViewSelectedRow img
    {
        visibility:hidden;
    }
    .GridViewSelectedRow td:first-child
    {
        background-color:#68726A;  
    }
    .GridViewSelectedRow td:last-child
    {
        border-right-width:12px;  
    }
    .GridViewFooter
    {
        
    }
    .GridViewFooter td
    {
        
    }
    .GridViewPager
    {
        background-color:#D3D5D2;
    }
    
    .GridViewPager td
    {
        height:25px;
        width:15px !important;
        border-spacing:0px;
    }
    .GridViewPager span
    {
        text-decoration:underline;
        width:auto !important;
        text-align:right !important;	
        padding-left:5px;
    }
    
    .GridViewPager table
    {
        width:auto;
        text-align:right !important;
        border-spacing:0px !important;
        padding:0px !important;
    }
    
    .GridViewPager a:visited 
    {
        display:block;
        color: #00222f;
        Font-Size:13px;
        font-family: PT Serif, serif;
        font-weight:bold;	
        text-align:right !important;
        text-decoration:underline;
    }
    .GridViewPager a:link 
    {
        Font-Size:13px;
        font-family:PT Serif, serif;
        display:block;
        color: #00222f;
        text-align:right !important;
        text-decoration:none;
    }	
    /* End Grid */
    
    /* Calendar */
    
    .calendar
    {	
       border-bottom-style:none;
       width:100%;
       font-family:PT Serif, serif;
       font-size:13px;
       border-color:#D3D3D3;
    }   
    .calendarHeader
    {	
        background-color:#D3D3D3;
        height:30px;
        color:#878787 !important;
        font-size:14px;
        font-weight:bold;
    } 
    .calendar tr:first-child
    {	
       color:#878787 !important;
    }   
    .calendarSelected
    {	
        background-color:#D3D3D3 !important;
    } 
    
    /* End Calendar */
    
      @-moz-document url-prefix() 
      {
        
        .cssDescriptiontable
        {	
            color:#878787;
        font-family:PT Serif, serif;
        Font-Size:12px;
        float:left;	
        border:none;
        background-color:transparent;	
        width:410px;
        height:auto;
        min-height:150px;
        padding-left:15px !important;
        padding-right:15px !important;
        padding-bottom:15px !important;
        /* Display none */
        padding-Top:10px !important;
        /*Slut display none */
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    
        }	
        body 
        {
            font-family:PT Serif, serif;
            color: #00222f;
            text-align:Center;
            width:1100px;
            margin-left:30px;
            margin-right:20%;	
            height:100%;	
        }
        .GridViewRow td:first-child
        {
            background-color:#68726A;	
            border-right-width:0px;	
        }
    
        .GridViewRow td
        {
            border: solid 8px #68726A;	
        }
        .GridViewAlternatingRow td
        {
            border: solid 8px #68726A;	
        }
    
        .GridViewSelectedRow td
        {
            border: solid 8px #68726A;	
            background-color:#D3D5D2;  
        
        }
        .GridViewRow td:last-child
        {
            border-right-width: 13px;	
        }
    
        .GridViewAlternatingRow td:last-child
        {
            border-right-width: 13px;	
        }
    }
    
    
    /* Grid New*/
    
    .GridDivNew
    {
                                 padding-bottom:0px;
                                 width:auto;
                                 max-width:1100px;
                                 min-width:1095px;
                                 overflow:auto; resize: none; font-family:PT Serif, serif;Font-Size:12px;
                                 float: left;
    }
    
    .GridDivNew th {
    text-align: left;
    }
    
    .GridDivNew2
    {
                                 padding-bottom:0px;
                                 width:auto;
                                 max-width:471px;
                                 min-width:466px;
                     overflow:auto; resize: none; font-family:PT Serif, serif;Font-Size:12px;
                                 float: left;
    }
    
    .GridDivNew2 th {
    text-align: left;
    }
    
    .GridViewNew
    {
        Font-Size:12px;
        font-family:PT Serif, serif;
    }
    .GridViewNew tr:last-child
    {
        border-left:solid 0px;
        border-right:solid 0px;
    }
    .GridViewSelectStyleNew
    {
        border:none;
        border-width:0px;	
        background-repeat:repeat;
        background-color:#68726A;
    }
    
    .GridViewHeaderNew
    {
        Font-Size:12px;
        font-family:PT Serif, serif;
        color:#808285;
        height:35px;
        font-weight:bold;   
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#00222f;
        
    }
    .GridViewHeaderNew th
    {
        border-left: solid 0px;
        border-right: solid 0px;
        width:auto;
    }
    .GridViewRowNew
    {
        
    }
    .GridViewRowNew td
    {
        border: solid 0px #68726A;
        color:#68726A;	
        padding-top:8px;
        padding-bottom:7px;	
        padding-right:10px;	
    }
    .GridViewRowNew td:first-child
    {
        background-color:#FFF;	
        border-right-width:0px;	
    }
    
    .GridViewRowNew td:last-child
    {
        border-right-width: 0px;	
        padding-right:0px;	
    }
    
    .GridViewAlternatingRowNew td:last-child
    {
        border-right-width: 0px;	
        padding-right:0px;			
    }
    .GridViewAlternatingRowNew td:first-child
    {
        background-color:White;	
        border-right-width:0px;	
    }
    .GridViewAlternatingRowNew
    {
        background-color:#ebebeb;
    }
    .GridViewAlternatingRowNew td
    {
        border: solid 0px;
        color:#68726A;
        padding-top:8px;
        padding-bottom:7px;	
        padding-right:10px;	
    }
    
    .GridViewEditRowNew
    {
    }
    .GridViewSelectedRowNew
    {
          
    }
    .GridViewSelectedRowNew td
    {
        border: solid 0px;
        background-color:#D5D5D5;
        Font-Size:12px;
        font-family:PT Serif, serif;
        color:#808285;
        padding-top:8px;
        padding-bottom:7px;
        padding-right:10px;
    }
    .GridViewSelectedRowNew img
    {
        /*visibility:hidden;*/
         opacity: 0.2;
         filter: alpha(opacity=40); 
         margin-right:10px;   
    }
    .GridViewRowNew img
    {
    
         margin-right:10px;   
    }
    .GridViewAlternatingRowNew img
    {
    
         margin-right:10px;   
    }
    .GridViewSelectedRowNew td:first-child
    {
        background-color:#E9EDEB;	
    }
    .GridViewSelectedRowNew td:last-child
    {
        border-right-width:0px;  
        padding-right:0px;	
    }
    .GridViewFooterNew
    {
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#68726A;	
    }
    .GridViewFooterNew td:last-child
    {
        Font-Size:0px;
        height:0px;
        padding-right:0px !important;
        font-weight:bold;	
        color:#808285;
    }
    .GridViewFooterNew td
    {
        Font-Size:0px;
        height:0px;
        padding-right:10px !important;
        font-weight:bold;	
        color:#808285;
    }
    .GridViewPagerNew
    {
        background-color:White;
        border-top-style:solid;
        border-top-width:1px;
        text-align:left;
        border-top-color:#68726A;	
    }
    
    .GridViewPagerNew td
    {
        height:5px;
        width:15px !important;
        border-spacing:0px;
        vertical-align:top;
    }
    .GridViewPagerNew span
    {
        text-decoration:underline;
        width:auto !important;
        text-align:right !important;	
        padding-left:5px;
        vertical-align:top;
    }
    
    .GridViewPagerNew table
    {
        width:auto;
        text-align:right !important;
        border-spacing:0px !important;
        padding:0px !important;
        vertical-align:top;
    }
    
    .GridViewPagerNew a:visited 
    {
        display:block;
        color: #00222f;
        Font-Size:13px;
        font-family: PT Serif, serif;
        font-weight:bold;	
        text-align:right !important;
        text-decoration:underline;
    }
    .GridViewPagerNew a:link 
    {
        Font-Size:12px;
        font-family:PT Serif, serif;
        display:block;
        color: #00222f;
        text-align:right !important;
        text-decoration:none;
    }	
    /* End Grid New */
    .largeTitle {
        font-size: 14px;
        color: #4f4f4f;
        border-collapse: separate;
        border-spacing: 0;
        font-family: PT Serif, serif;
        text-align: left;
    }
    .RadPicker, 
    .RadPicker span
    {
          width:100%!important;
    }
    .errorPanel
    {  
        display:table; 
        width:500px
    }
    .ButtonsDivSend {
        width: 600px;
    }
    .genericOverskrift
{
	width: 100%!important;
	font-family:PT Serif, serif;
    Font-Size:12px; 
    outline: none; 
    font-weight: normal;
	color: #878787;     
}
.genericMainPanel {
	width: 43%;
	float: left;
}

.genericMainPanel td
{
	padding-right: 0px;
}
.genericTekst
{
	width: 99%;
	font-family: PT Serif, serif;
	color: #878787;
    Font-Size:12px; 
    outline: none; 
    font-weight: normal;
	color: #878787; 
	height: 23px;    
}

.genericAllignright {
    text-align: right;
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.genericTekst > a:hover {
    color: #68726A;
}

.genericFieldLabel
{
	width: 100%;
	font-family: PT Serif, serif;
	font-size: 12px;
	color: #878787;
	overflow:auto; 
	resize: none;
	font-weight: normal;
}

.genericFieldString
{
	width: 98.5%;
	font-family: PT Serif, serif; 
	color: #878787;
	font-size: 12px;
	height: 23px;    
	border-width: 1px; 
    border-color: #d3d3d3;
}

.genericDropdownlist
{
	width: 100%;
	overflow:auto; 
	resize: none; 
	font-family:PT Serif, serif;
	Font-Size:12px;
	font-weight:normal;
	height: 28px;
    border-color: #d3d3d3;
    color: #878787;  
}

.genericFieldStringMultiline
{
	height: 100px;
	width: 99%;
	font-family: PT Serif, serif; 
	font-size: 12px;
	color: #878787;
	border-width: 1px; 
	border-style: inset;
    border-color: #d3d3d3;
}

.genericFieldStringMultilineNoHeight
{	
 	 width: 100%;
	font-family: PT Serif, serif; 
	font-size: 12px;
	color: #878787;
	font-weight: bold;
	border-width: 1px; 
	border-style: inset;
	border-color: #00222f;
}

.genericFieldStringInfo
{
width: 100%;
    font-family: PT Serif, serif; 
	color: #878787;
	font-size: 12px;
	text-align: left !important;
    font-weight: bold;
	height: 21px;   
	border-width: 1px; 
	border-style: inset;
	border-color: #00222f;
    background-color: #f5f5f5;
}

.genericCheckbox
{
	width: 100%;
	font-family: PT Serif, serif; 
	font-size: 12px;
	color: #878787;}

.genericFieldStringInfoMultiline
{
    height: 100px;
	width: 100%;
    font-family: PT Serif, serif; 
	color: #878787;
	font-size: 12px;
	border-width: 1px; 
	border-style: inset;
	border-color: #00222f; 
	background-color: #f5f5f5;
	
}
.genericFieldInt32Info {
    width: 100%;
    font-family: PT Serif, serif; 
	color: #00222f;
	font-size: 12px;
	text-align: right !important;
    font-weight: bold;
	height: 23px;   
	border-width: 1px; 
	border-style: inset;
	border-color: #878787;
    background-color: #f5f5f5;
}
.genericFieldDateTimeInfo {
    font-family: PT Serif, serif; 
	color: #00222f;
	height: 23px;   
	font-size: 12px;
	border-width: 1px; 
	border-style: inset;
	border-color: #878787;
    background-color: #f5f5f5;
}
.genericFieldStringInfoMultilineNoHeight 
{
    width: 100%;
    font-family: PT Serif, serif; 
	color: #00222f;
	font-size: 12px;
	border-width: 1px; 
	border-style: inset;
	border-color: #878787; 
	background-color: #f5f5f5;
}

.genericGridCaption
{
	width: 100%;
	background: transparent;
    resize: none; 
    font-family:PT Serif, serif;
    Font-Size:13px; 
    outline: none; 
    vertical-align:top; 
    padding-bottom:9px;
	font-weight: normal;
	color: #878787;     
}

.genericGridButton
{
	font-family: PT Serif, serif; 
    color: White;
	background-color: #00a5dc;
    font-weight: normal;
    overflow: auto;
    font-size: 13px;
    cursor: pointer;
    Height: 26px; 
    Width: 32%;
    color: White;
    border-style:none;
    margin-right: 4px;
    
}
.genericGridButtons {
    text-align: right;
    margin-right: 0px;
    width: 98% !important;
}
.genericGridHiddenField
{
	display: none;
	color: #878787;
}

.genericCalenderButtonTD
{
	width: 50px;
	color: White;
}

.genericCalenderButtonTD input
{
	font-family: PT Serif, serif; 
    color: White;
	background-color: #00a5dc;
    font-weight: normal;
    overflow: auto;
    font-size: 13px;
    cursor: pointer;
    Height: 26px; 
    Width: 50px;
    border-style:none; 
}
.genericFileUpload
{
	width: 100%;
	font-family: PT Serif, serif; 
	color: #878787;
}

.genericCounterSpan
{
	float:right;
	font-family: PT Serif, serif; 
	color: #878787;
	font-size: 10px;
    font-weight: bold;
}
.genericFieldDoubleInfo {
	color: #00222f;
	text-align: right
	}
.genericFieldDecimal {
	width: 99%;
	color: #878787;
	height: 23px;
		text-align: right; 
   font-family:PT Serif, serif;
   font-size:13px;
	border-width: 1px; 
    border-color: #d3d3d3;
}
.genericFieldDecimalInfo {
	width: 99%;
	color: #878787;
	height: 23px;
	border: 0px;
	text-align: right
}
.genericSpacer {
	width: 2%;
}
.genericFieldInt {
	
}
.genericFieldFloat {
	
}
.geneicCalendar
{	
   border-bottom-style:none;
   width:100%;
   font-family:PT Serif, serif;
   font-size:13px;
   border-color:#013365;
}   
.genericGridFooterSum
{                           
                             font-size: 12px !important;
  font-weight: bold;
}

.genericGridFooterField
{
                             font-size: 12px !important;
                             text-align: right !important;
  font-weight: bold;
}
.genericHiddenField
{
    display: none;
} 
.genericFieldInt32 {
    width: 100%;
    font-family: PT Serif, serif; 
	color: #878787;
	font-size: 12px;
	text-align: right !important;
    font-weight: normal;
	height: 23px;   
	border-width: 1px; 
	border-style: inset;
	border-color: #00222f; 
}
.genericFieldDoubleInfo {
	color: #878787;
	text-align: right
	}
.ButtonMain 
{
    margin-left:  7px;
    width: 66.5% !important;
    
}

.genericFieldLabelCheckbox {
    font-family: PT Serif, serif;
    color: #878787 !important;
	font-size: 12px;
    font-weight: normal;
    text-align: center !important;
}
.genericCheckbox 
{
    width: 150px !important;
    font-family: PT Serif, serif;
    color: #878787 !important;
	font-size: 12px;
    text-align: center !important;
    font-weight: normal;
   
}
.genericFieldLabelCheckbox td:before {
    text-align: center !important;
}
.genericLabelIntTd
{
                             
}
.genericLabelDecimalTd
{
}
.genericLabelCheckboxTd
{
                             text-align: center    
}
 
.genericCheckboxTd
{
                             text-align: center    
}

.genericPrint {
	font-family: PT Serif, serif; 
    color: #878787;
	background-color: #00a5dc;
    font-weight: normal;
    overflow: auto;
    font-size: 13px;
    cursor: pointer;
    Height: 26px; 
    color: White;
    border-style:none;
    margin-right: 4px;
    width: 100%;
}
.FormFeltDivLine 
{
   border-bottom-width: 1px; 
   border-bottom-style: solid; 
   border-bottom-color: #00222f;
   width: 466px;
   margin-bottom: 10px;
}

/************************** bailwal **************************************/
.bailwaldiv 
{
    position:absolute;
    z-index:10; 
    background-color:WHITE; 
    filter: alpha(opacity = 70);
    opacity:0.7;
   
}
.bailwalframe {
    position:absolute;
    z-index:12; 
    background-color:white;
    border:1px solid;
    -moz-box-shadow: 0 0 4px 4px #BBB;
    -webkit-box-shadow: 0 0 4px 4px #BBB;
    box-shadow: 0 0 4px 4px #BBB;
    padding-left: 15px;
}
.dialogheader 
{
    background-color: transparent;
    resize: none; 
    font-family:PT Serif, serif;
    Font-Size:13px; 
    outline: none; 
    vertical-align:bottom;
    color: #878787;
    font-weight: normal;
}
.radiobuttonlist label {
    font-weight: bold;    
    overflow:auto; 
    resize: none; 
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #878787;
}

.genericRadioButtonListHorizontal {
    border: 1px!important;     
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericRadioButtonListVertical 
{
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #B3B3B3;
}
.genericCheckBoxListHorizontal {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
    font-weight: normal!important;
}
.genericCheckBoxListHorizontal > tbody > tr > td  > span
{
    font-weight: normal!important;
}
.genericCheckBoxListVertical {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericCheckBoxListVertical > tbody > tr > td  > span
{
    font-weight: normal!important;
}

.genericRadioButtonListHorizontal2 {
    border: 1px!important;     
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericCheckBoxListHorizontal2 {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #B3B3B3; 
    font-weight: normal!important;
}
.genericCheckBoxListHorizontal2 > tbody > tr > td  > span
{
    font-weight: normal!important;
}
.genericRadioButtonListHorizontal3 {
    border: 1px!important;     
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericCheckBoxListHorizontal3 {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #B3B3B3; 
    font-weight: normal!important;
}
.genericCheckBoxListHorizontal3 > tbody > tr > td  > span
{
    font-weight: normal!important;
}
.genericRadioButtonListHorizontal4 {
    border: 1px!important;     
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericCheckBoxListHorizontal4 {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #B3B3B3; 
    font-weight: normal!important;
}
.genericCheckBoxListHorizontal4 > tbody > tr > td  > span
{
    font-weight: normal!important;
}
.genericRadioButtonListHorizontal5 {
    border: 1px!important;     
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #6AA2C2;
}
.genericCheckBoxListHorizontal5 {
    border: 1px!important;
    border-style: solid!important;
    font-family:PT Serif, serif;
    Font-Size:12px;
    color: #B3B3B3; 
    font-weight: normal!important;
}
.genericCheckBoxListHorizontal5 > tbody > tr > td  > span
{
    font-weight: normal!important;
}
.genericRadioButtonListHorizontal2 > tbody > tr > td {
    width: 50%;
}
.genericCheckBoxListHorizontal2 > tbody > tr > td {
    width: 50%;
}
.genericCheckBoxListHorizontal3 > tbody > tr > td {
    width: 33%;
}
.genericCheckBoxListHorizontal3 > tbody > tr > td {
    width: 33%;
}
.genericCheckBoxListHorizontal4 > tbody > tr > td {
    width: 25%;
}
.genericCheckBoxListHorizontal4 > tbody > tr > td {
    width: 25%;
}
.genericCheckBoxListHorizontal5 > tbody > tr > td {
    width: 20%;
}
.genericCheckBoxListHorizontal5 > tbody > tr > td {
    width: 20%;
}

.GridViewRowNew > td > a:link {
   color: #68726A!important;
}

/* visited link */
.GridViewRowNew > td > a:visited {
   color: #68726A!important;
}

/* mouse over link */
.GridViewRowNew > td > a:hover {
  color: #68726A!important;
}

/* selected link */
.GridViewRowNew > td > a:active {
   color: #68726A!important;
} 
.GridViewAlternatingRowNew > td > a:link {
   color: #68726A!important;
}

/* visited link */
.GridViewAlternatingRowNew > td > a:visited {
   color: #68726A!important;
}

/* mouse over link */
.GridViewAlternatingRowNew > td > a:hover {
  color: #68726A!important;
}

/* selected link */
.GridViewAlternatingRowNew > td > a:active {
   color: #68726A!important;
} 