* {
  font-family: $font-sans;
  font-size: 16px;
}

.largeTitle {
  font-family: $font-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

a {
  color: $orange;
}


ul {
  margin: 15px 0 15px 15px;
  padding-left: 0;
  li {
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 14px;
  }
}

.FormFeltDivStartLogon {
  input {
    background-color: $orange!important;
    height: 55px!important;
    width: 100%!important;

  }
}

.cssDescriptiontableStart  {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}