$fonts-path: '../fonts';

// fonts
$font-serif: 'PT Serif', serif;
$font-sans: 'PT Sans', sans-serif;



// colors
$white: #fff;
$black: #000;

$dark-white: #F2F2F2;

$blue: #0071BC;
$green: #31B450;
$orange: #F58A00;
$pink: #EC008C;
$red: #FF4A49;
$purple: #591488;

$light-blue: #7A9BA6;

$dark-orange: #F65801;
$dark-pink: #E21C2D;

$very-dark-grey: #433F3E;
$dark-grey: #242021;
$medium-grey: #999999;
$light-grey: #EEEEEE;
$grey: #9B9B9B;


$text-color: #231F20;
$dark-text-color: #666464;

$grey-border: #D6D6D6;

$koda-green: #00969B;




// screen size
$small-screen: 800px;
$medium-screen: 1024px;
$large-screen: 1280px;
$x-large-screen: 1600px;





// transitions
$transition-ease: all 0.2s ease-in-out;
$transition-ease-slow: all 0.4s ease-in-out;
$transition-jump: all 0.4s cubic-bezier(.59,-0.26,.33,1.42);

//transition: [property] [duration] [delay] [timing-function];


// blend mode
$image-blend: luminosity;



// padding on _content max-width: $large-screen
$padding-xlarge: 70px 40px 70px 40px;
$padding-large: 60px 40px 60px 40px;
$padding-medium: 40px 40px 40px 40px;

// most used
$padding-small: 40px 20px 40px 20px; 
$padding-xsmall: 0px 20px 0px 20px; 


$text-spacing: 20px;


// box shadow
$back-shadow: 0 0 15px rgba(0,0,0,.25); // img
$front-shadow: 0 58px 116px 0 rgba(0,0,0,.18); //txtbox
$shadow: 0 5px 20px 0 rgba(0,0,0,0.05); // basic