<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="./assets/js/app.js"></script>
<div class="FooterDivStandard">
	<span id="ctl00_spanFooter1" class="spanFooter">Koda</span>
	<span id="ctl00_spanFooter2" class="spanFooter2"> – Lautrupsgade 9 – 2100 K&#248;benhavn &#216;</span>
</div>
<div class="FooterDivSpalter">

	<div id="ctl00_FooterSpalterText1" class="FooterSpalter FooterSpalterHide1">
		<span id="ctl00_FooterSpalterSpanText1" class="FooterSpalterSpan"></span><br />
	</div>
	<div id="ctl00_FooterSpalterText2" class="FooterSpalter FooterSpalterHide2">
		<span id="ctl00_FooterSpalterSpanText2" class="FooterSpalterSpan"></span><br />
	</div>
	<div id="ctl00_FooterSpalterText3" class="FooterSpalter FooterSpalterHide3">

		<span id="ctl00_FooterSpalterSpanText3" class="FooterSpalterSpan"></span><br />
	</div>
	<div id="ctl00_FooterSpalterText4" class="FooterSpalter FooterSpalterHide4">

		<span id="ctl00_FooterSpalterSpanText4" class="FooterSpalterSpan"></span><br />
	</div>
</div>